@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #e0e0e0;

    max-width: 1200px;
    margin: 0 auto;
}

.feedbackNotification {
    font-weight: 600;

    position: fixed;
    top: 20px;
    right: 20px;

    color: rgba(0, 0, 0, 0.527);
    background: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 10px;

    animation-name: notification;
    animation-duration: .5s;
    animation-timing-function: ease;   

    display: none;
}

@keyframes notification {
    0% {
        transform: translate(20px);
        opacity: 0;
    } 100% {
        transform: translate(-10px);
        opacity: 1;
    }
}